@using Duende.IdentityServer.Models
@model ApiScope

<div class="card">
    <div class="card-body">
        <h3>Details for @Model.DisplayName</h3>
        <div>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Name">Edit</a>
            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Name">Delete</a>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h4>General</h4>

                <p>
                    <span class="fw-bold">Name: </span>
                    <span>@Model.DisplayName</span>
                </p>

                <p>
                    <span class="fw-bold">Display Name: </span>
                    <span>@Model.DisplayName</span>
                </p>

                <p>
                    <span class="fw-bold">Description: </span>
                    <span>@Model.Description</span>
                </p>

                <div class="d-flex align-items-center">
                    <span class="me-2 fw-bold">Enabled</span>
                    @if (Model.Enabled)
                    {
                        <i class="fas fa-check text-success"></i>
                    } else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-2 fw-bold">Required</span>
                    @if (Model.Required)
                    {
                        <i class="fas fa-check text-success"></i>
                    } else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-2 fw-bold">Emphasize</span>
                    @if (Model.Emphasize)
                    {
                        <i class="fas fa-check text-success"></i>
                    } else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-2 fw-bold">Discovery</span>
                    @if (Model.ShowInDiscoveryDocument)
                    {
                        <i class="fas fa-check text-success"></i>
                    } else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                </div>
            </div>
            
            <div class="col-sm-12 col-lg-4">
                <h4>User Claims</h4>

                @if (Model.UserClaims.Count == 0)
                {
                    <p>No user claims available for this resource</p>
                } else
                {
                    <ul class="list-group">
                    @foreach (var uc in Model.UserClaims)
                    {
                        <li class="list-group-item">@uc</li>
                    }
                </ul>
                }

                
                
            </div>

            <div class="col-sm-12 col-lg-4">
                <h4>Properties</h4>

                @if (Model.Properties.Count == 0)
                {
                    <p>No properties available for this resource</p>
                } else
                {
                    <ul class="list-group">
                    @foreach (var prop in Model.Properties)
                    {
                        <li class="list-group-item">
                            <span class="fw-bold">@prop.Key: </span>
                            <span>@prop.Value</span>
                        </li>
                    }
                </ul>
                }
                
                
            </div>

        </div>
    
    </div>
</div>