@using IdentityModel
@using static Duende.IdentityServer.IdentityServerConstants

<div class="card">
    <div class="card-body">
        <h3>Reference</h3>
        <p>Identity constant reference</p>

        <h4>Standard Scopes</h4>
        <ul>
            <li>@StandardScopes.OpenId</li>
            <li>@StandardScopes.Profile</li>
            <li>@StandardScopes.Email</li>
            <li>@StandardScopes.Address</li>
            <li>@StandardScopes.Phone</li>
            <li>@StandardScopes.OfflineAccess</li>
        </ul>

        <br />

        <h4>Jwt Claim Types</h4>
        <ul>
            <li>Subject - @JwtClaimTypes.Subject</li>
            <li>Name - @JwtClaimTypes.Name</li>
            <li>FamilyName - @JwtClaimTypes.FamilyName</li>
            <li>GivenName - @JwtClaimTypes.GivenName</li>
            <li>MiddleName - @JwtClaimTypes.MiddleName</li>
            <li>NickName - @JwtClaimTypes.NickName</li>
            <li>PreferredUserName- @JwtClaimTypes.PreferredUserName</li>
            <li>Profile- @JwtClaimTypes.Profile</li>
            <li>Picture- @JwtClaimTypes.Picture</li>
            <li>WebSite - @JwtClaimTypes.WebSite</li>
            <li>Gender- @JwtClaimTypes.Gender</li>
            <li>BirthDate - @JwtClaimTypes.BirthDate</li>
            <li>ZoneInfo - @JwtClaimTypes.ZoneInfo</li>
            <li>Locale - @JwtClaimTypes.Locale</li>
            <li>UpdatedAt - @JwtClaimTypes.UpdatedAt</li>
            <li>Email- @JwtClaimTypes.Email</li>
            <li>EmailVerified- @JwtClaimTypes.EmailVerified</li>
            <li>PhoneNumber- @JwtClaimTypes.PhoneNumber</li>
            <li>PhoneNumberVerified- @JwtClaimTypes.PhoneNumberVerified</li>
            <li>Address- @JwtClaimTypes.Address</li>
        </ul>
    </div>
</div>
