@using IdentityModel
@using MusicHub.IdentityServer.Models.IdentityServer
@using Duende.IdentityServer;
@using static Duende.IdentityServer.IdentityServerConstants
@model IdentityResourcesViewModel



<script>
    function deleteIdentityResource(event, name) {
        event.preventDefault();
        console.log('name: ', name);
        var f = document.querySelector(`#${name}DeleteForm`);
        //console.log('form', f);
        document.querySelector(`#${name}DeleteForm`).submit();
    }
</script>

<div class="row">

    <div class="col-sm-12 col-lg-3">
        <partial name="_IdentityConstantReferenceCard" />
    </div>
    
    <div class="col-sm-12 col-lg-9">
        <div class="card bg-dark">
            <div class="card-body">
                <h3>Identity Resources</h3>
                <hr />

                <h5>Add New Resource</h5>
                <form asp-action="IdentityResources" method="post">
                    <div class="row mb-3">
                        <div class="form-group col-sm-12 col-lg-6">
                            <label class="form-label" asp-for="Resource.Name">Resource Name</label>
                            <input class="form-control" asp-for="Resource.Name" />
                        </div>
                        <div class="form-group  col-sm-12 col-lg-6">
                            <label class="form-label" asp-for="Resource.DisplayName">Display Name</label>
                            <input class="form-control" asp-for="Resource.DisplayName" />
                        </div>
                    </div>
            
                    <div class="row mb-4">
                        <div class="col-sm-12 col-lg-8">
                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="UserClaimsInput">User Claims (comma separated)</label>
                                <input class="form-control" asp-for="UserClaimsInput" />
                            </div>
                    
                            <div class="form-group">
                                <label class="form-label" asp-for="Resource.Description">Description</label>
                                <input class="form-control" asp-for="Resource.Description" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <h5>General</h5>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Resource.Enabled" />
                                <label class="form-check-label" asp-for="Resource.Enabled"></label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Resource.Required" />
                                <label class="form-check-label" asp-for="Resource.Required"></label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Resource.Emphasize" />
                                <label class="form-check-label" asp-for="Resource.Emphasize"></label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Resource.ShowInDiscoveryDocument" />
                                <label class="form-check-label" asp-for="Resource.ShowInDiscoveryDocument">Show in Discovery</label>
                            </div>
                        </div>
                    </div>

                    
            
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

                
                <hr />

                <h5>Saved Resources</h5>

                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Display Name</th>
                            <th>Description</th>
                            <th>User Claims</th>
                            <th>Properties</th>
                            <th>Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IdentityResources){
                            <tr>
                                <td class="fw-bold">@item.Name</td>
                                <td>@item.DisplayName</td>
                                <td>@item.Description</td>
                                <td>@string.Join(", ", item.UserClaims)</td>
                                <td>@string.Join(", ", item.Properties.Select(pair => $"{pair.Key}:{pair.Value}"))</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">Enabled</span>
                                        @if (item.Enabled)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        } else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">Required</span>
                                        @if (item.Required)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        } else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">Emphasize</span>
                                        @if (item.Emphasize)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        } else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">Discovery</span>
                                        @if (item.ShowInDiscoveryDocument)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        } else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="@($"#{item.Name}Modal")">Edit</button>
                                    
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="@($"{item.Name}Modal")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form asp-action="UpdateIdentityResource" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit Identity Resource</h5>
                                                        <button type="button" class="btn-close btn-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row mb-3">
                                                            <div class="form-group col-sm-12 col-lg-6">
                                                                <label class="form-label" >Resource Name</label>
                                                                <input class="form-control" name="UpdatedResource.Name" value="@item.Name"/>
                                                            </div>
                                                            <div class="form-group  col-sm-12 col-lg-6">
                                                                <label class="form-label" >Display Name</label>
                                                                <input class="form-control" name="UpdatedResource.DisplayName" value="@item.DisplayName"/>
                                                            </div>
                                                        </div>
            
                                                        <div class="row mb-4">
                                                            <div class="col-sm-12 col-lg-8">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label">User Claims (comma separated)</label>
                                                                    <input class="form-control" name="UpdatedUserClaimsInput" value="@string.Join(", ", item.UserClaims)"/>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="form-label" >Description</label>
                                                                    <input class="form-control" name="UpdatedResource.Description" value="@item.Description" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-lg-4">
                                                                <h5>General</h5>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="UpdatedResource.Enabled" checked @*@(item.Enabled ? "checked" : "")*@  />
                                                                    <label class="form-check-label">Enabled</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="UpdatedResource.Required" @(item.Required ? "checked" : "") />
                                                                    <label class="form-check-label">Required</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="UpdatedResource.Emphasize" @(item.Emphasize ? "checked" : "") />
                                                                    <label class="form-check-label">Emphasize</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="UpdatedResource.ShowInDiscoveryDocument" @(item.ShowInDiscoveryDocument ? "checked" : "") />
                                                                    <label class="form-check-label">Discovery</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                         
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="collapse" data-bs-target="#deleteSure">Delete</button>
                                                            <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
                                                        </div>
                                                        
                                                        <div class="collapse w-100 text-end" id="deleteSure">
                                                            <hr>
                                                            <p class="fw-bold">Are you sure?</p>
                                                            <button class="btn btn-sm btn-secondary">No</button>
                                                            <button class="btn btn-sm btn-danger" onclick="deleteIdentityResource(event, '@(item.Name)')">Yes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <form asp-controller="IdentityServer" asp-action="DeleteIdentityResource" method="post" id="@($"{item.Name}DeleteForm")" name="@($"{item.Name}DeleteForm")">
                                                    <input type="hidden" name="ResourceName" value="@item.Name">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


